/* Font-families */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* background: #05172b; */
  background-image: url("./media/1.png");
  font-weight: 600;
  /* color: white; */
  color: black;
  font-size: 22px;
  font-family: "be vietnam";
  overflow: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 400px 1fr 1fr 1fr 1fr);
  margin-top: 20px;
  grid-gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

li:nth-child(1) {
  margin-right: 200px;
}

li:nth-child(2) {
  margin-left: 450px;
}

.nav-link {
  text-align: center;
  padding: 12px 14px;
  padding-top: 5px;
  border-radius: 40px;
}

.nav-link:not(:first-of-type) {
  background-color: #3861fb;
  transition: transform .3s;
}

.nav-link:not(:first-of-type):hover {
  background-color: #102b49;
  cursor: pointer;
  transform: translateY(5px);
}

.main-section {
  display: grid;
  grid-template-columns: repeat(2, 700px 1fr);
  align-items: center;
  margin-top: 30px;
}

.main-section-content {
  margin-left: 60px;
  margin-bottom: 100px;
}

.main-section-content h3 {
  margin-top: -35px;
  color: #4475e2;
}

.main-section-content hr {
  width: 130px;
  margin-left: 0px;
  margin-top: -10px;
}

.main-section-content .btn1 {
  border: none;
  outline: none;
  padding: 15px 45px;
  background: transparent;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: transform .3s;
}

.main-section-content .btn1:hover {
  transform: translateY(5px);
}

.main-section-content .btn1 {
  background-color: #3861fb;
}

.main-section-content .btn1:hover {
  background-color:  #102b49;
}

.main-section-content .btn2 {
  border: none;
  outline: none;
  padding: 15px 45px;
  background: transparent;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: transform .3s;
}

.main-section-content .btn2:hover {
  transform: translateY(5px);
}

.main-section-content .btn2 {
  border: 2px solid #102b49;
  margin-left: 10px;
  color: #102b49;
}

.social-media {
  transform: translateY(80px), translateX(30px);
}

.social-media i {
  margin-top: 150px;
  font-size: 35px;
  border: 2px solid #102b49;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 50%;
}

.social-media i:hover {
  background: #102b49;
  color: white;
  transform: translateY(5px);
}